.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #03045E;
    
}

.navbar_logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar_logo_link {
    text-decoration: none;
    color: #CAF0F8;
    transition: color 0.2s ease-in-out;
}

.navbar_logo_link:hover {
    color: #00B4D8;
}

.navbar_menu {
    display: flex;
    gap: 20px;
}

.navbar_menu_signup_link,
.navbar_menu_login_link {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.navbar_menu_signup_link {
    background-color: #00B4D8;
    color: white;
}

.navbar_menu_signup_link:hover {
    background-color: #0077B6;
}

.navbar_menu_login_link {
    background-color: #00B4D8;
    color: white;
}

.navbar_menu_login_link:hover {
    background-color: #0077B6;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar_menu {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }

    .navbar_menu_signup_link,
    .navbar_menu_login_link {
        display: block;
        width: 100%;
        text-align: center;
    }
}




/* ccs code for footer before registration*/
.footer {
    background-color: #03045E;
    color: white;
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
}

.logo {
    margin-left: 30px;
    font-size: 1.8rem;
    font-weight: bold;
}

.logo_link {
    color: #CAF0F8;
    text-decoration: none;
    transition: color 0.2s ease;
}

.logo_link:hover {
    color: #00B4D8;
}

h3 {
    margin-top: 0;
    margin-left: 30px;
    font-size: 0.8rem; 
    font-weight: normal;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
    }

    .logo {
        margin-left: 0;
        font-size: 1.5rem;
    }

    h3 {
        margin-left: 0;
        font-size: 0.7rem;
    }
}
